if(message.length)
 p(role="alert").flash #{message}
  a(href="/")#closeFlash Okay

if(animes)
 ul#animes
  each anime in animes
   li
    img(src="#{cloudFront}#{anime.img.S}" alt="Picture of #{anime.title.S}")
    h1= anime.title.S
    div.infos
     a(href="/animes/delete/#{anime.title.S}") Remove
     if(anime.author)
      div
       label Author:
       span= anime.author.S
     if(anime.publisher)
      div
       label Publisher:
       span= anime.publisher.S
     if(anime.year)
      div
       label Year:
       span= anime.year.N
     if(anime.seasons)
      div
       label Seasons:
       span= anime.seasons.N
