if(message.length)
 p(role="alert").flash #{message}

if(animes)
 ul#animes
  each anime in animes
   li
    img(src="#{cloudFront}#{anime.img.S}" alt="Picture of #{anime.title.S}")
    h1= anime.title.S
    div.infos
     if(anime.author)
      label Author:
      span= anime.author.S
     if(anime.publisher)
      label Publisher:
      span= anime.publisher.S
     if(anime.year)
      label Year:
      span= anime.year.N
     if(anime.seasons)
      label Seasons:
      span= anime.seasons.N
